

#titleDiv {
    display: flex;
    align-items: center;
    height: 250px;
    padding: 0 0 0 10%;
    gap: 5%;
    font-size: 38px;
    font-family: 'Asimovian', sans-serif;
    background-color: #B94E3E;
}

#titleImg {
    width: 200px;
}

.navLink.active {
    background-color: #3E6B3A;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #3A2D23;
    padding: 5px 0px;
    gap: 100px;
}

nav ul {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    gap: 200px;
    font-size: 24px;
}

nav li {
    padding: 10px 30px;
    border-radius: 40px;
}

.navLink {
    text-decoration: none;
    color: white;
    font-family: 'Asimovian', sans-serif;
    background-color: #D9A441;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 24px;
    width: 125px;
    text-align: center;
}

.navLink:hover {
    background-color: #3E6B3A;
}

.navLeft {
    grid-area: 1 / 3 / 2 / 4;
}

.navRight {
    grid-area: 1 / 1 / 2 / 2;
}

.navCenter {
    grid-area: 1 / 2 / 2 / 3;
}

@media (width <= 950px) {
    #titleDiv {
        font-size: 24px;
    }
}

@media (width <= 700px) {
    #titleDiv {
        flex-direction: column;
        height: auto;
        padding: 10px 0px;
    }

    nav {
        gap: 20px;
    }
}

@media (width <= 420px) {
    #titleDiv {
        font-size: 20px;
    }

    nav {
        gap: 5px;
        
    }

    .navLink {
        width: 100px;
        padding: 0px;
    }
}