

#titleDiv {
    display: flex;
    align-items: center;
    height: 250px;
    padding: 0 0 0 10%;
    gap: 5%;
    font-size: 38px;
    font-family: 'Asimovian', sans-serif;
    background-color: green;
}

#titleImg {
    width: 200px;
}

.navLink.active {
    background-color: blue;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 179, 87);
    padding: 5px 0px;
    gap: 100px;
}

nav ul {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    gap: 200px;
    font-size: 24px;
}

nav li {
    padding: 10px 30px;
    border-radius: 40px;
}

.navLink {
    text-decoration: none;
    color: white;
    font-family: 'Asimovian', sans-serif;
    background-color: rgb(48, 22, 22);
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 24px;
    width: 125px;
    text-align: center;
}

.navLink:hover {
    background-color: blue;
}

.navLeft {
    grid-area: 1 / 3 / 2 / 4;
}

.navRight {
    grid-area: 1 / 1 / 2 / 2;
}

.navCenter {
    grid-area: 1 / 2 / 2 / 3;
}