#shopContentCtr {
  background-color: blue;
  display: grid;
  grid-template: 100px 1fr / .5fr 3fr .5fr;
  padding: 75px 0px;
  gap: 50px;
}

#shopTitle {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}

#cartCtr {
    grid-area: 2 / 3 / 3 / 4;
    position: sticky;
    top: 150px;
    justify-self: center;
    transform: translateY(-100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-self: start;
}

#cartIcon {

    background-color: white;
    padding: 20px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 50%);
}

#cartAside {
    margin-top:5px ;
    background-color: white;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    text-wrap: balance;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#cartAside h3 {
  font-family: 'Asimovian', sans-serif;
  font-size: 30px;
  text-decoration: underline;
}

.cartLine {
  border-bottom: 1px black solid;
}

.cartLineName {
  color: blue;
}

.cartLineQty {
  font-style: italic;
}

.cartLineTotal {
  color: red;
}

#cartContents {
  font-family: 'Asimovian', sans-serif;;
}

#cartAside.open {
    opacity: 1;
}

#productCardCtr {
    grid-area: 2 / 2 / 3 / 3;
  display: grid;
  justify-self: center;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  font-family: "Asimovian", sans-serif;
  gap: 40px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: bisque;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
}

.productImg {
  width: 250px;
  height: 250px;
}

.productName {
  position: relative;
  cursor: pointer;
  overflow: visible;
  padding: 10px;
  font-size: 20px;
  max-width: 350px;
}

.productName__text {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productName::after {
  content: attr(data-full);
  position: absolute;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: normal;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  max-width: 250px;
  z-index: 10;
}

.productName:hover::after {
  opacity: 1;
  visibility: visible;
}

.productPrice {
  padding: 5px;
}

.productQuant {
  padding: 5px;
}

.btnCtr {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cardBtn {
    padding: 5px 10px;
    min-width: 35px;
}
